<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <context-param>
    	<description>This is our partner ID assigned by Interhome</description>
    	<param-name>userID</param-name>
    	<param-value>481786</param-value>
   	</context-param>
   	<context-param>
   		<description>This is our partner password assigned by Interhome</description>
    	<param-name>password</param-name>
    	<param-value>110002</param-value>
   	</context-param>
   	<context-param>
   		<description>This is URL of Interhome Web Services</description>
    	<param-name>WSURL</param-name>
    	<param-value>http://webservices.interhome.com:8980/partnerV3</param-value>
   	</context-param>    	
	<servlet>
       <servlet-name>controller</servlet-name>
       <servlet-class>com.affiliate.controllers.ControllerServlet</servlet-class>
       <init-param>
       	<description>This parameter contains list of public uri</description> 
        <param-name>publicUriList</param-name> 
        <param-value>/views/hello,/views/login,/views/index,/views/search,/views/result,/views/testWS,/views/search_old,/views/result_old,/views/select,/views/regionSelectDropdown,/views/placeSelectDropdown</param-value> 
       </init-param>
       <init-param>
       	<description>This parameter contains list of uri for already registered users</description> 
        <param-name>restrictedUriList</param-name> 
        <param-value>/views/personsList,/views/addComment</param-value> 
       </init-param>        
   </servlet>
   <servlet-mapping>
       <servlet-name>controller</servlet-name>
       <url-pattern>/views/*</url-pattern>
   </servlet-mapping>   
   <servlet>
       <servlet-name>send</servlet-name>
       <servlet-class>com.affiliate.controllers.SendComment</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>send</servlet-name>
       <url-pattern>/send</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>adminController</servlet-name>
       <servlet-class>com.affiliate.controllers.AdminControllerServlet</servlet-class>
       <init-param>
       	<description>This parameter contains path to InterhomeCountry.xls file</description> 
        <param-name>countryXls</param-name> 
        <param-value>WEB-INF/resources/InterhomeCountry</param-value> 
       </init-param>
       <init-param>
       	<description>This parameter contains path to InterhomeRegion.xls file</description> 
        <param-name>regionXls</param-name> 
        <param-value>WEB-INF/resources/InterhomeRegion</param-value> 
       </init-param>         
       <init-param>
       	<description>This parameter contains path to InterhomePlace.xls file</description> 
        <param-name>placeXls</param-name> 
        <param-value>WEB-INF/resources/InterhomePlace</param-value> 
       </init-param>     
       <init-param>
       	<description>This parameter contains path to AffiliateLanguageCode.xls file</description> 
        <param-name>languageCodeXls</param-name> 
        <param-value>WEB-INF/resources/AffiliateLanguageCode.xls</param-value> 
       </init-param>
   </servlet>
   <servlet-mapping>
       <servlet-name>adminController</servlet-name>
       <url-pattern>/admin/*</url-pattern>
   </servlet-mapping> 
   <servlet>
       <servlet-name>RegionManager</servlet-name>
       <servlet-class>com.affiliate.manager.RegionManager</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>RegionManager</servlet-name>
       <url-pattern>/getRegion</url-pattern>
   </servlet-mapping> 
   <servlet>
       <servlet-name>PlaceManager</servlet-name>
       <servlet-class>com.affiliate.manager.PlaceManager</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>PlaceManager</servlet-name>
       <url-pattern>/getPlace</url-pattern>
   </servlet-mapping>
   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
</web-app>

